.notice {
  text-align: center;
  border: 1px solid black;
}
.navigation {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}
.navigation-left {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border: 1px solid black;
}
.navigation-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.navigation-right > input {
  width: 70%;
  margin: 10px;
}
.banners {
  height: 300px;
  width: auto;
  border: 1px solid black;
}
.card {
  width: 222px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #bbb;
}
.card > .image {
  border: 1px solid black;
  width: 200px;
  height: 150px;
  margin: 10px;
  background-color: aliceblue;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}
.footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(156, 154, 151);
  padding: 30px 20px;
  font-size: 14px;
}
