#root {
  padding: 30px;
}

#signIn,
#signUp {
  height: 200px;
  width: 400px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
.boxButton {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
#login_toggle {
  display: flex;
  padding-top: 150px;
  justify-content: center;
}
#header {
  text-align: right;
}
